<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{% block title %}{% endblock %} / ReRePHPFW Starter Kit</title>
<link rel="stylesheet" href="{{ get_theme_url() }}vendors/foundation/css/normalize.css" />
<link rel="stylesheet" href="{{ get_theme_url() }}vendors/foundation/css/foundation.css" />
<script src="{{ get_theme_url() }}vendors/foundation/js/vendor/custom.modernizr.js"></script>
</head>
<body>
{% block content %}{% endblock %}
<script src="{{ get_theme_url() }}vendors/foundation/js/vendor/jquery.js"></script>	
<script src="{{ get_theme_url() }}vendors/foundation/js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
</body>
</html>
